<!-- generics -->
<link rel="icon" href="{{ site.assetsurl }}/images/branding/favicon/favicon32.png" sizes="32x32">
<link rel="icon" href="{{ site.assetsurl }}/images/branding/favicon/favicon128.png" sizes="128x128">
<link rel="icon" href="{{ site.assetsurl }}/images/branding/favicon/favicon192.png" sizes="192x192">

<!-- Android -->
<link rel="shortcut icon" href="{{ site.assetsurl }}/images/branding/favicon/favicon196.png" sizes="196x196">

<!-- iOS -->
<link rel="apple-touch-icon" href="{{ site.assetsurl }}/images/branding/favicon/favicon152.png" sizes="152x152">
<link rel="apple-touch-icon" href="{{ site.assetsurl }}/images/branding/favicon/favicon167.png" sizes="167x167">
<link rel="apple-touch-icon" href="{{ site.assetsurl }}/images/branding/favicon/favicon180.png" sizes="180x180">