<footer class="bg-secondary">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-2 mb-2 text-light">
                <h4>About</h4>
                <p>Team 7778 was founded in 2019 and is Located in South High School - Bakersfield, California.</p>
                <p>Being a part of team 7778 provides each member with a sense of excitement and knowledge for 
                    STEM and business careers in a world rapidly developing technologically. Our underfunded team 
                    continues to break barriers and encourage the promotion of well rounded students in areas such as leadership, 
                    communication and engineering- all thanks to our wonderful community.</p>
            </div>
            <div class="col-12 col-md-3">
                <p class="text-center">
                    <a class="mr-4" href="https://www.instagram.com/frc7778/">
                        <img  width="50" src="{{ site.assetsurl }}/vendor/social/glyph-logo_May2016.png" alt="Instagram Icon">
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>