<nav class="navbar navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">
            <img src="{{ site.assetsurl }}/images/branding/team7778-logo.png" width="70" height="70" class="d-inline-block align-top" alt="D'Elite Cookies Logo">
            <span class="nav-brand-text">Team 7778</span>
        </a>
        <span class="navbar-right d-none d-sm-block">
            <img src="{{ site.assetsurl }}/vendor/first/FIRST_HorzCMYK.png" height="60" class="d-inline-block align-top" alt="FIRST Robotics Logo">
        </span>
    </div>
</nav>